*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-dark-lavender: #ac65ca;
  --color-lavender: #c189d9;
  --color-faded-lavender: #c596d9;
  --color-warm-gray: #d5d9d2;
  --color-bright-red: #f24405;
  --color-coral: #f27457;
  --color-beige: #f5f5dc;
  --color-priority-1: #ff6138;
  --color-priority-2: #ffff9d;
  --color-priority-3: #79bd8f;
  --font-size: 1.2rem;
  --height-header: 5rem;
  --height-footer: 2rem;
  --height-main: calc(
    calc(100vh - var(--height-header)) - var(--height-footer)
  );
  font-size: var(--font-size);
}

h1 {
  font-size: calc(1.4 * var(--font-size));
  font-weight: 600;
}

h2 {
  font-size: calc(1.2 * var(--font-size));
  font-weight: 600;
}

h3 {
  font-size: calc(1.1 * var(--font-size));
  font-weight: 500;
}

p,
form * {
  font-size: calc(0.7 * var(--font-size));
}

body {
  display: grid;
  grid-template:
    var(--height-header) var(--height-main) var(--height-footer)
    / 12rem 1fr;
  grid-template-areas:
    'header   header'
    'sidebar  main'
    'footer   footer';
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--color-warm-gray);
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-lavender);
  padding: 1rem;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
}

nav > button {
  border: none;
  background: none;
  cursor: pointer;
}

nav > button:hover {
  color: var(--color-beige);
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

#logo {
  display: inline;
  height: calc(3 * var(--font-size));
  width: auto;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1rem;
  background-color: var(--color-beige);
}

.sidebar .project-flex {
  align-self: flex-start;
}

.sidebar h3 {
  padding-top: 1rem;
}

.sort-flex {
  align-self: flex-start;
}

.sort-flex form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 1.2rem;
  border: none;
  border-radius: 20px;
  background-color: var(--color-coral);
}

.action-button img {
  display: inline;
  height: 1rem;
  width: auto;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: hidden;
  padding: 1rem;
}

.project-container {
  flex: auto;
  max-height: 100%;
  min-height: min-content;
}

.project-container > div {
  position: relative;
  height: 100%;
  width: auto;
}

.edit-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.popup {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
  width: 10rem;
  padding: 1rem 0;
  background-color: var(--color-beige);
  border-radius: 14px;
}

.popup ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.popup ul button {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  background-color: transparent;
}

.popup ul button:hover {
  background-color: var(--color-dark-lavender);
}

.popup li {
  list-style-type: none;
  text-align: left;
  width: 5rem;
}

.popup ul > li {
  padding-left: 1rem;
}

.popup > ul > li:nth-of-type(2) {
  margin-top: 1rem;
}

.title-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.title-line h2 {
  flex: auto;
  text-align: center;
  max-width: 300px;
}

.triangle {
  background-color: var(--color-priority-1);
  width: 1.5rem;
  height: 1.5rem;
  mask-image: url(../assets/images/triangle.svg);
  mask-size: 1.5rem 1.5rem;
  mask-repeat: none;
  text-anchor: middle;
}

.project {
  flex: 0;
  display: grid;
  grid-template-rows: min-content max-content max-content max-content;
  grid-template-columns: auto 30%;
  grid-template-areas:
    'title   date'
    'desc    desc'
    'tasks   tasks'
    'add     add';
  align-items: center;
  position: relative;
  gap: 0.5rem;
  width: 600px;
  background-color: var(--color-faded-lavender);
  padding: 1rem;
  border-radius: 14px;
}

.project :nth-child(1),
.task :nth-child(1) {
  grid-area: title;
  justify-self: center;
}

.project > :nth-child(2),
.task > :nth-child(2) {
  grid-area: date;
  padding-right: 1rem;
}

.project :nth-child(3),
.task :nth-child(3) {
  grid-area: desc;
}

.project > :last-child {
  grid-area: add;
  justify-self: center;
}

.task-flex {
  grid-area: tasks;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-container {
  position: relative;
}

.task {
  display: grid;
  grid-template: min-content repeat(2, minmax(0, max-content)) / auto 30%;
  grid-template-areas:
    'title   date'
    'desc    desc'
    'save    save';
  align-items: center;
  position: relative;
  background-color: var(--color-beige);
  padding: 0.5rem;
  border-radius: 14px;
}

form.task {
  grid-template-columns: auto 40%;
  gap: 0.5rem;
}

.task > p {
  max-height: 0;
  visibility: hidden;
}

.collapsible {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

label.collapsible {
  display: block;
  color: var(--color-faded-lavender);
  cursor: pointer;
}

label.collapsible:hover {
  color: var(--color-bright-red);
}

label.collapsible::before {
  content: ' ';
  display: inline-block;

  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
}

.collapsible[type='checkbox'] {
  display: none;
}

.collapsible[type='checkbox']:checked + label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible[type='checkbox']:checked + label::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible[type='checkbox']:checked + label + p {
  max-height: max-content;
  visibility: visible;
  padding-top: 0.5rem;
}

footer {
  grid-area: footer;
  background-color: var(--color-faded-lavender);
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

form.project {
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(5, min-content);
  grid-template-areas:
    'title     date'
    'desc      desc'
    'tasks     tasks'
    'add-task  add-task'
    'save      save';
  column-gap: 2rem;
  row-gap: 1rem;
  position: relative;
  width: 100%;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

form.task .close-modal {
  right: -5px;
}

.close-modal img {
  height: 1.5rem;
  width: auto;
}

.close-modal:hover {
  cursor: pointer;
}

form .date-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.floating-content:nth-child(3) {
  grid-area: desc;
}

form .task-flex {
  grid-area: tasks;
}

#project-description {
  height: 20ch;
  padding-top: 1rem;
}

form button.action-button {
  grid-area: add-task;
  justify-self: center;
}

form button[type='submit'] {
  grid-area: save;
  background-color: var(--color-priority-3);
}

.floating-content {
  position: relative;
}

.floating-label {
  position: absolute;
  left: 15px;
  top: 11px;
  /* padding: 0 5px; */
  color: rgba(0, 0, 0, 0.6);
  background: var(--color-faded-lavender);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

form.task .floating-label {
  background: var(--color-beige);
}

.floating-input,
.floating-select {
  display: block;
  width: 100%;
  height: calc(2 * var(--font-size));
  padding: 0 20px;
  background: none;
  border: 1px solid var(--color-dark-lavender);
  border-radius: 14px;
  &:focus {
    outline: none;
    ~ .floating-label {
      top: -10px;
    }
  }
}

.floating-input:not(:placeholder-shown) ~ .floating-label {
  top: -10px;
}
