*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --font-size: 1.2rem;
  font-size: var(--font-size);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

main {
  display: grid;
  grid-template: 3fr 1fr / 1fr 5fr;
  grid-template-areas:
    'map     map'
    'period  weather';
  width: 800px;
  height: 800px;
  border: 2px black solid;
}

main > * {
  border: black 2px solid;
}

.map {
  grid-area: map;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.map form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 2rem;
}

.input-container {
  position: relative;
}

.map input,
select {
  width: 15ch;
  padding-left: 0.5rem;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: transparent;
  }
}

select {
  appearance: none;
  background-color: var(--color-form);
}

.map label,
select[value='']:focus ~ label {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  padding: 0 0.5rem;
  transition: cubic-bezier(0.2, 0.4, 0.7, 1) 0.25s;
  color: var(--color-placeholder);
}

.map input:focus + label,
.map input:not(:placeholder-shown) + label,
select:not([value='']):valid ~ label {
  transform: translateY(-135%) scale(0.75);
  transition: cubic-bezier(0.2, 0.4, 0.7, 1) 0.25s;
}

.period {
  grid-area: period;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.period form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

.weather {
  grid-area: weather;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weather > p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.weather-stats {
  flex: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.weather-stats .temp {
  display: grid;
  grid-template: repeat(2, 1fr) / 2fr 1fr;
  grid-template-areas:
    'now   high'
    'now   low';
  column-gap: 0.5rem;
}

.temp div:first-child {
  grid-area: now;
  font-size: 2rem;
}

.temp div:nth-child(2) {
  grid-area: high;
  color: red;
}

.temp div:nth-child(3) {
  grid-area: low;
  color: blue;
}

.precip > div {
  display: flex;
}

.precip p {
  display: flex;
  align-items: center;
}

.weather-icon {
  display: inline;
  width: 2rem;
  height: auto;
}
